* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Urbanist', sans-serif;
}
body {
  background-color: #f8f9fa;
  min-height: 100vh;
  font-size: larger;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #e0e0e0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #e0e0e0;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 11px;
  border: 0px solid #ffffff;
}

/* ======== react-draft-wysiwyg Editor CSS ========= */
.TextEditor{
  background: #fff;
  min-height: 200px;
  border: 1.5px solid #000000;
  padding: 0 10px;
}

.ToolbarEditor{
  background: #fafafa;
  border: none;
}

.MuiPaper-root{
  scroll-margin-top: 70px;
}

.MuiTimelineItem-root::before{
  display: none;
}

.MuiTimelineConnector-root{
  height: 50px;
}

.MuiTimelineContent-root a{
  text-decoration: none;
  color: rgb(56, 56, 56);
  font-weight: 500;
}

