* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Urbanist', sans-serif;
}
body {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  min-height: 100vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ad1457 #e0e0e0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #e0e0e0;
}

*::-webkit-scrollbar-thumb {
  background-color: #ad1457;
  border-radius: 11px;
  border: 0px solid #ffffff;
}

/* ======== react-draft-wysiwyg Editor CSS ========= */
.TextEditor{
  background: #fff;
  min-height: 200px;
  border: 1.5px solid #e0e0e0;
  padding: 0 10px;
}

.ToolbarEditor{
  background: #fafafa;
  border: none;
}